.password-Gen-Wrap {
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;

  .form-Wrap {
    height: 250px;
    width: 100%;
    background: #d6d4d4;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
