<div class="password-Gen-Wrap">
  <h1>PassWord Generator</h1>
  <div>
    <div>
      <label for="">Length</label>
      <input
        type="text"
        [(ngModel)]="length"
        value=""
        placeholder="enter something"
      />
    </div>
    <div>
      <label for="">Use Letters</label>
      <input
        type="checkbox"
        [(ngModel)]="letters"
        value=""
        placeholder="enter something"
      />
    </div>
    <div>
      <label for="">Use Numbers</label>
      <input type="checkbox" [(ngModel)]="numbers" value="" />
    </div>
    <div>
      <label for="">Use Symbols</label>
      <input type="checkbox" [(ngModel)]="symbols" value="" />
    </div>
  </div>
</div>
