<div class="password-Gen-Wrap">
  <h1>PassWord Generator</h1>
  <div>
    <div>
      <label for="Length">Length</label>
      <input
        id="
      Length"
        type="number"
        [(ngModel)]="length"
        placeholder="enter something"
      />
    </div>
    <div>
      <label for="Letters">Use Letters</label>
      <input
        type="checkbox"
        id="Letters"
        [(ngModel)]="letters"
        placeholder="enter something"
      />
    </div>
    <div>
      <label for="Numbers">Use Numbers</label>
      <input type="checkbox" [(ngModel)]="numbers" id="Numbers" />
    </div>
    <div>
      <label for="Symbols">Use Symbols</label>
      <input type="checkbox" [(ngModel)]="symbols" id="Symbols" />
    </div>
  </div>
</div>
